In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
boston=pd.read_csv("/home/student/Downloads/BostonHousing.csv")
boston
boston.dropna(inplace=True)

In [4]:
boston.info()
boston.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
x=boston[['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','lstat']]
y=boston['medv']

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [9]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [10]:
reg.predict(x_test)

array([ 6.87732309, 16.99178003, 20.64268362, 25.3870246 , 19.2837184 ,
        7.93068898, 20.08697696, 17.06464952, 18.73329049, 21.90941593,
       20.75023324, 16.27129528, 26.41995354, 25.83406276, 13.2200824 ,
       17.19399838, 28.43101852, 26.97857312, 18.72799506, 20.25087299,
       21.67135421, 40.53658039, 20.06747025, 34.10305553, 16.40608205,
       23.78261711, 23.50893894, 24.98341733, 10.7648153 ,  3.67279621,
       27.22365071, 19.34945607, 20.55880339, 25.06995766, 16.15470761,
       23.93659219, 37.32069668, 26.66971628, 18.68427352, 17.37024041,
       21.49378274, 20.23928359, 27.75956718, 18.32404371, 26.91397656,
       35.11392706, 23.65507995, 17.14056248, 16.15502479, 17.50077283,
       17.6099534 , 20.16678785, 15.3625926 , 22.58049331, 24.0918884 ,
       29.06522042, 26.7505981 , 17.72568088, 27.93755296, 18.44575942,
       22.24444783, 31.36880591, 21.45586816, 20.44933013, 22.76441683,
       37.08870836, 34.8180366 ,  8.37697414, 22.93590343, 18.92198555,
       22.22802394, 31.22320372, 25.36561253, 15.79152386, 15.8134388 ,
       23.38449635, 11.53146151, 26.94419165, 21.6989058 , 23.95597857,
       21.96957137, 21.07664581, 19.93563567, 16.3136469 , 31.2156275 ,
       24.08628244, 25.3497969 , 32.9476598 , 28.67642689, 16.97172475,
       27.13903258, 19.5771312 , 37.00670971, 21.57518774, 24.65538782,
       24.38507742, 26.14454157, 17.00401934, 14.21894907,  9.97304479,
       31.13923991, 27.42187775, 14.7756424 , 31.63036762, 20.83459639,
       16.13604492, 23.38168314, 19.92355397, 23.77361702, 14.04533547,
       24.90239761, 13.72995525, 20.7300483 , 27.17150659, 18.72296743,
       18.61772443, 18.57297511, 25.22176177, 16.06851483, 20.18182316,
       31.99878523, 19.90665411, 21.78913647, 13.06667527, 24.03288757,
        9.6931461 , 23.03587935, 15.87148243, 40.14527596, 34.50067424,
       22.87251682, 17.83871832, 19.92193066, 25.44882433, 31.43308993,
       22.68180979, 24.13811354, 37.65793707, 31.55254057, 16.04033936,
       16.77725762, 21.18847776, 21.20654819, 22.90588141, 30.22383128,
       24.37640508, 36.71054498, 12.72892255, 18.68248871, 42.48733259,
       24.68898967, 22.02183676, 32.74086693, 24.63331242, 17.51035215,
       34.71227295, 25.19647018, 23.14515885, 31.70279898, 32.38919342,
       26.83835142, 31.59767031, 31.63729092, 20.12386734, 23.01272484,
       17.34069321, 18.74769026, 37.31964653, 43.65228338, 39.67827818,
       28.36724324, 31.79162847, 32.96819893, 17.43148017, 20.26142995,
       20.59651227, 17.79349128, 23.33378016, 20.86879945, 26.61341101,
        8.50726304, 18.34700552, 15.82367605, 11.12503441, 23.75623307,
       25.98003584, 15.32729498, 30.83684246,  7.49830726, 21.87229465,
       28.03363508, 36.85073543, 21.70285333, 28.06969045, 24.50137837,
       14.95135726, 24.45915754, 35.66759407, 26.03826343, 20.62760718,
       20.05290645, 19.93346285, 20.99676986])